<!DOCTYPE html>
<html dir="rtl">
<head>
    <title>داشبورد</title>
    <link href="~/Content/bootstrap.rtl.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container mt-3">
        <ul class="list-unstyled row g-3 text-center">
            <li><a href="/Admin/AdminLogins" class="btn btn-dark">مدیریت ادمین ها</a></li>
            <li><a href="/Admin/BlogComments" class="btn btn-dark">مدیریت کامنت ها</a></li>
            <li><a href="/Admin/BlogGroups" class="btn btn-dark">مدیریت دسته بندی مقاله ها</a></li>
            <li><a href="/Admin/Blogs" class="btn btn-dark">مدیریت مقاله ها</a></li>
            <li><a href="/Admin/Logoes" class="btn btn-dark">مدیریت لوگوی وبسایت</a></li>
            <li><a href="/Admin/Sliders" class="btn btn-dark">مدیریت اسلایدر وبسایت</a></li>
            <li><a href="/Admin/ProjectGalleries" class="btn btn-dark">مدیریت پروژه های وبسایت</a></li>

        </ul>
    </div>


    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
</body>
</html>
